<p>Edit User</p>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.username.label }}
        {{ form.username(value=current_user.username) }}
        <br>

        {{ form.first_name.label }}
        {{ form.first_name(value=current_user.first_name) }}
        <br>

        {{ form.last_name.label }}
        {{ form.last_name(value=current_user.last_name) }}
        <br>

        {{ form.email.label }}
        {{ form.email(value=current_user.email) }}
        <br>

        {{ form.submit }} <br>
    </div>
</form>

<a href="{{ url_for('user_profile') }}">back</a>