<p>Edit User</p>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.username.label }}
        {{ form.username(value=user_to_edit.username) }}
        <br>

        {{ form.first_name.label }}
        {{ form.first_name(value=user_to_edit.first_name) }}
        <br>

        {{ form.last_name.label }}
        {{ form.last_name(value=user_to_edit.last_name) }}
        <br>

        {{ form.email.label }}
        {{ form.email(value=user_to_edit.email) }}
        <br>

        {{ form.old_password.label }}
        {{ form.old_password }}
        <br>

        {{ form.password.label }}
        {{ form.password }}
        <br>

        {{ form.submit }} <br>
    </div>
</form>

<a href="{{ url_for('user_profile', id=user_to_edit.id) }}">back</a>