{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<h1>Welcome {{ current_user.first_name | title }} {{ current_user.last_name | title}}!</h1>
<h2>Your username is: {{ current_user.username }}</h2>
<p>Password hash: <br> {{ current_user.password_hash }}</p>
<p>Time created: {{ current_user.date_created }}</p>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.password.label }}
    {{ form.password }}
    <br>

    {{ form.submit }} <br>
</form>
<ul>
    <li><a href="{{ url_for('users') }}">users list</a></li>
    <li><a href="{{ url_for('user_edit') }}">edit user</a></li>
    <li><a href="{{ url_for('change_password') }}">change password</a></li>
    <li><a href="{{ url_for('user_delete', id=current_user.id) }}">delete user</a></li>
    <li><a href="{{ url_for('logout') }}">logout</a></li>
</ul>